<form #f="ngForm" class="container" style ="background-color: whitesmoke;
                      padding-left: 20px; padding-right: 20px; height: 90vh;">
<table>
  <tr style = "width: 100%;">
    <td>
      <div style = "width: 100%;">
        <button class="btn btn-primary" (click)="load_guide_corps(true)" style = "width: 100%;" [hidden]="corps_is_load">Корпуса</button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan = "3">
      <button class="btn btn-danger" (click)="corps_is_load=!corps_is_load"  style = "width: 100%;" [hidden]="!corps_is_load">Закрыть корпуса</button>
    </td>
  </tr>
  <tr>
    <td colspan = "3">
      <button class="btn btn-success" (click)="save_guide_corps()"  style = "width: 100%;" [hidden]="!corps_is_load">Сохранить в базу</button>
    </td>
  </tr>
  <tr [hidden]="!corps_is_load">
    <td>
      <select class="browser-default custom-select" [(ngModel)]="current_corp" name = "current_corp">
        <option *ngFor="let corp of corps; " value="{{corp.id}}">{{corp.numberOfHousing}}</option>
      </select>
    </td>
    <td>
      <mdb-checkbox [(ngModel)]="cur_corp_en" name="Fill">Доступен</mdb-checkbox>
    </td>
    <td>
  <input-field  name="newcorptitle"
                placeholder="Корпус"
                type="text"
                [(ngModel)]="cur_cor_title">
  </input-field>
    </td>
  </tr>
  <tr [hidden]="!corps_is_load">
    <td>
      <div>
        <button class="btn btn-primary" (click)="save_toTable_corps()"  style = "width: 250px;">Переименовать</button>
      </div>
    </td>
    <td>
      <div>
        <button class="btn btn-primary" (click)="add_toTable_corps()"  style = "width: 250px;">Добавить</button>
      </div>
    </td>
  </tr>
</table>
  <div class="container" [hidden]="!corps_is_load">
    <table id="table_id1" class="display">
      <thead><tr><th>ID</th><th>Наименование</th><th>Доcтупность</th></tr></thead>
      <tbody>
        <tr>
          <td>id</td>
          <td>title</td>
          <td>enable</td>
        </tr>
      </tbody>
    </table>
  </div>


  <table>
    <tr style = "width: 100%;">
      <td>
        <div style = "width: 100%;">
          <button class="btn btn-primary" (click)="load_guide_grups(true)" style = "width: 100%;" [hidden]="grups_is_load">Группы</button>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan = "3">
        <button class="btn btn-danger" (click)="grups_is_load=!grups_is_load"  style = "width: 100%;" [hidden]="!grups_is_load">Закрыть группы</button>
      </td>
    </tr>
    <tr>
        <td colspan = "3">
          <button class="btn btn-success" (click)="save_guide_grups()"  style = "width: 100%;" [hidden]="!grups_is_load">Сохранить в базу</button>
        </td>
    </tr>
    <tr [hidden]="!grups_is_load">
      <td>
        <select class="browser-default custom-select" [(ngModel)]="current_grup" name = "current_grup">
          <option *ngFor="let grup of grups" value="{{grup.id}}">{{grup.nameOfGroup}}</option>
        </select>
      </td>
      <td>
        <mdb-checkbox [(ngModel)]="cur_grup_en" name="Fill">Доступен</mdb-checkbox>
      </td>
      <td>
    <input-field  name="newgruptitle"
                  placeholder="Группа"
                  type="text"
                  [(ngModel)]="cur_grup_title">
    </input-field>
      </td>
    </tr>
    <tr [hidden]="!grups_is_load">
      <td>
        <div>
          <button class="btn btn-primary" (click)="save_toTable_grups()"  style = "width: 250px;">Переименовать</button>
        </div>
      </td>
      <td>
        <div>
          <button class="btn btn-primary" (click)="add_toTable_grups()"  style = "width: 250px;">Добавить</button>
        </div>
      </td>
    </tr>
  </table>
    <div class="container" [hidden]="!grups_is_load">
      <table id="table_id2" class="display">
        <thead><tr><th>ID</th><th>Наименование</th><th>Доустпность</th></tr></thead>
        <tbody>
          <tr>
            <td>id</td>
            <td>title</td>
            <td>enable</td>
          </tr>
        </tbody>
      </table>
    </div>

      <table style = "width: 100%;">
        <tr style = "width: 100%;">
          <td colspan = "2">
            <div>
              <button class="btn btn-primary" (click)="load_guide_users()" style = "width: 100%;" [hidden]="users_is_load">Пользователи</button>
            </div>
          </td>
        </tr>
        <tr>
            <td colspan = "2">
              <button class="btn btn-danger" (click)="users_is_load=!users_is_load"  style = "width: 100%;" [hidden]="!users_is_load">Закрыть пользователи</button>
            </td>
        </tr>
        <tr [hidden]="!users_is_load">
          <td>
            <select class="browser-default custom-select" [(ngModel)]="current_user" name = "current_user">
              <option *ngFor="let user of users" value="{{user.id}}">{{user.login}}</option>
            </select>
          </td>
          <td>
            <mdb-checkbox [(ngModel)]="cur_user_en" name="Fill">Доступен</mdb-checkbox>
          </td>
        </tr>
        <tr [hidden]="!users_is_load">
          <td style = "width: 100px;">Логин</td><td>
            <input-field  name="newusertitle"
                          placeholder="Логин"
                          type="text"
                          [(ngModel)]="cur_user_login">
            </input-field>
          </td>
        </tr>
        <tr [hidden]="!users_is_load">
          <td style = "width: 100px;">
            Почта</td><td>
            <input-field  name="newuseremail"
                      placeholder="Почта"
                      type="text"
                      [(ngModel)]="cur_user_email">
            </input-field>
          </td>
        </tr>
        <tr [hidden]="!users_is_load">
          <td style = "width: 100px;">
            Пароль</td><td>
            <input-field  name="newuserpass"
                      placeholder="Пароль"
                      type="text"
                      [(ngModel)]="cur_user_pass">
            </input-field>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
              <div  [hidden]="!users_is_load">
              <select class="browser-default custom-select" [(ngModel)]="cur_user_role" name = "role" >
              <option value="student" selected>Студент</option>
              <option value="teacher">Преподаватель</option>
              <option value="teacher_request">Запрос на преподавателя</option>
              <option value="admin">Администратор</option>
              </select>
            </div>
          </td>
        </tr>
        <tr [hidden]="!users_is_load">
          <td>
            <div>
              <button class="btn btn-primary" (click)="save_toTable_users()"  style = "width: 250px;">Редактировать</button>
            </div>
          </td>
          <td>
            <div>
              <button class="btn btn-primary" (click)="add_toTable_users()"  style = "width: 250px;">Добавить</button>
            </div>
          </td>
        </tr>
      </table>
        <div class="container" [hidden]="!users_is_load">
          <table id="table_id3" class="display">
            <thead><tr><th>ID</th><th>Логин</th><th>email</th><th>Пароль</th><th>Роль</th><th>Заблокирован</th></tr></thead>
            <tbody>
              <tr>
                <td>id</td>
                <td>Логин</td>
                <td>email</td>
                <td>pass</td>
                <td>Роль</td>
                <td>enable</td>
              </tr>
            </tbody>
          </table>
        </div>

        <table>
          <tr style = "width: 100%;">
            <td>
              <div style = "width: 100%;">
                <button class="btn btn-primary" (click)="load_guide_kabs(); kabs_is_load = true;"
                style = "width: 100%;" [hidden]="kabs_is_load">Кабинеты</button>
                <button class="btn btn-danger" (click)="kabs_is_load = false"
                style = "width: 100%;" [hidden]="!kabs_is_load">Закрыть кабинеты</button>
              </div>
            </td>
          </tr>
          <table [hidden]="!kabs_is_load">
            <tr>
              <td  style = "width: 25%;">
                <select select class="browser-default custom-select" name = "current_kab" [(ngModel)]="current_kab">
                  <option *ngFor="let kab of kabs" value="{{kab.id}}">{{kab.housingNumber}} - {{kab.number}}</option>
                </select>
              </td>
              <td style = "width: 25%;">
                <mdb-checkbox [(ngModel)]="cur_kab_en" name="Fill">Доступен</mdb-checkbox>
              </td>
              <td style = "width: 25%;">
                <mdb-checkbox [(ngModel)]="cur_kab_comp" name="Fill">Компьютерный</mdb-checkbox>
              </td>
              <td style = "width: 25%;">
                <mdb-checkbox [(ngModel)]="cur_kab_proj" name="Fill">С проектором</mdb-checkbox>
              </td>
            </tr>
            <tr>
              <td colspan = "2">
                <select class="browser-default custom-select" [(ngModel)]="cur_corp_for_cab" name = "current_corp">
                  <option *ngFor="let corp of corps" value="{{corp.id}}">{{corp.numberOfHousing}}</option>
                </select>
              </td>
              <td colspan = "2">
                <div>
                  <input-field name="Cabinet"
                  placeholder="Кабинет"
                  type="number"
                  [(ngModel)]="cabinet_number"></input-field>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <button class="btn btn-primary" (click)="save_toTable_kabs('Редактирование')"  style = "width: 250px;">Редактировать</button>
                </div>
              </td>
              <td>
                <div>
                  <button class="btn btn-primary" (click)="save_toTable_kabs('Добавление')"  style = "width: 250px;">Добавить</button>
                </div>
              </td>
            </tr>
          </table>
          <table id="table_id4" class="display" [hidden]="!kabs_is_load">
            <thead><tr><th>id</th><th>Номер кабинета</th><th>Корпус</th><th>Компьютерный</th>
                      <th>С проектором</th><th>Доступен</th></tr></thead>
            <tbody>
              <tr>
                <td>id</td>
                <td>Кабинет</td>
                <td>Корпус</td>
                <td>Компьютерный</td>
                <td>С проектором</td>
                <td>Доступен</td>
              </tr>
            </tbody>
          </table>
        </table>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Выберите файл</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01" (change)="handleFileInput($event.target.files)">
      <label class="custom-file-label" for="inputGroupFile01"></label>
    </div>
    <button class="btn btn-success" (click)="uploadFileToActivity()">Отправить</button>
  </div>
</form>
